.outerContainer { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    height: 60px;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid rgba(180, 180, 180, 0.6) 2px;
}

.innerContainer { 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: auto;
}

.h2 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmin;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
}

.h3 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75vmin;
    text-align: left;
    margin-top: 0;
    font-weight: 600;
    color: rgba(180, 180, 180, 0.6);
}

.button { 
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px solid black;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 3vmin;
    font-weight: bold;
    margin-left: auto;
    margin-right: 9px;
}

.button:hover { 
    background-color: blueviolet;
    cursor: pointer;
    border-radius: 100%;
}